.about{
  @include column-flex;
  width: 100%;
  padding: 1%;
  padding-top: 10vh;

  &__intro{
    @include column-flex;
    height: 110vh;

    &-top{
      @include row-flex;
    }

    &-bottom{
      @include row-flex;
      height: 100%;

      &-left{
        flex-basis: 50%;
        @include column-flex;
        gap: 2em;
      }

      &-right{
        flex-basis: 50%;
        width: 100%;
        // height: 100%;
        @include row-flex;
        justify-content: flex-end;
      }
    } 

    &-links{
      @include row-flex;
      gap: 4em;
    }

    &-img{
      height: 100%;
      width: 100%;
      background: url('/client/images/other/shtaniel2.jpg');
      background-size: cover;
      // background-position: ce;
      background-repeat: no-repeat;
    }

    &-prompt{
      justify-content: center;
      @include row-flex;
      align-items: flex-end;
    }

    &-prompt-copy{
      font-family: $body-font;
      font-size: 2.5em;
      font-weight: 800;
      padding-left: 1em;
      position: relative;
      top: 1em;
    }

    &-link{
      @include row-flex;
      align-items: center;
      gap: 1em;
    }

  }

  &-intro{

    &-title{
      @include display-font;
      text-transform: uppercase;
      font-size: 10em;
    }
    
    &-subtitle{
      font-family: $body-font;
      font-size: 2.5em;
    }

    &-fit{
      font-family: $body-font;
      font-size: 2.5em;
      font-style: italic;
      font-weight: 800;
      padding-left: 1em;
    }

    &-link {
      font-family: $body-font;
      font-size: 2.5rem;
      font-weight: 800;
    }

    &-icon{
      height: 2em;
      width: auto;
    }

    &-detail{
      font-family: $body-font;
      font-size: 1.8em;
      font-weight: 500;
    }
  }
}