.contact{
  @include column-flex;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;

  &__intro{
    @include column-flex;

    &-top{
      @include row-flex;
    }

    &-bottom{
      @include row-flex;

      &-left{
        flex-basis: 50%;
        @include column-flex;
      }

      &-right{
        flex-basis: 50%;
      }
    } 

  }
}