.cursor { 
  &-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 1px $purple;
  background-color: none;
  opacity: 0;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
}

&-dot{
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: $red;
  z-index: 10000;
}

}
