.nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  padding: 5em;
  @include row-flex;
  justify-content: space-between;
  // display: none;

  &-bar{
    position: fixed;
    height: 10vh;
    width: 100%;
    // background: $black;
    @include row-flex;
    justify-content: space-between;
    align-items: center;
    // overflow: visible;
    padding: 0em 2em 0em 2em;
    z-index: 9999;
  }

  &__hamburger{
    // background: $white;
    position: relative;
    width: 8em;
    cursor: pointer;
    // overflow: visible;
    @include column-flex;
    @include center-flex;

    svg{
      height: 100%;
      width: 100%;
      overflow: visible;
    }

    .svg-shape{
      visibility: hidden;

      &.ham-11 {
        visibility: visible;
      }

      &.ham-12 {
        visibility: visible;
      }

      &.ham-13 {
        visibility: visible;
      }

      
      &.ham-14 {
        visibility: visible;
      }
    }


  }



  &-bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background: $orange;
    -webkit-filter: blur(5px);
    transform-origin: top right;
    // display: none;

    svg{
      height: 100%;
      width: 100%;
    }
  
    .svg-shape {
      // height: 50%;
      //   width: 50%;
      visibility: hidden;
      
      &.st0 {
        visibility: visible;
      }
    }
  }


  &__left{
    @include column-flex;
    @include center-flex;
  }

  &__items{
    @include column-flex;
    gap: 0.5em;
    font-family: $display-font;
    font-size: 10em;
  }

  &__item{
    list-style-type: none;
  }

  &-item{
    list-style-type: none;
    position: relative;
    color: $black;
  }




  &-under{
    width: 100%;
    height: 1px;
    background: none;
  }

  // .active {
  //   color: $white;
  // }


}

// background: linear-gradient(
//   -83deg,
//   $orange,
//   $red,
//   $purple,
//   $blue,
// );
// background-size: 200% 200%;
// animation: gradient 12s ease-in-out infinite;
// opacity: 100%;
// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }