*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: none;
}

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0 !important;padding:0 !important}
button,fieldset,form,input,legend,textarea,select{margin:0 !important;padding:0 !important}
fieldset{border:0}
a,a *{cursor:pointer}

*::after, *::before{
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $black;
}

// Overflow Testing Starts

// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
// }

// Overflow Testing Ends


html{
  font-size: 62.5% !important;
  scroll-behavior: smooth;
  user-select: none;
}
