


// Colour Variables
$black: #030303;
// $white: #F6F2EA;
$white: #fffce1;
$red: #FF7272;
$orange: #FFC672;
$blue: #72CCFF;
$purple: #9672FF;

body{
  background: $white;
}

// Font Variables

// Gogh - Display
@font-face {
  font-family: "Gogh";
  src: url("client/fonts/gogh/Gogh-ExtraBold.otf"),
  url("client/fonts/gogh/Gogh-ExtraBoldItalic.otf");
}

// Gogh - Display
@font-face {
  font-family: "Yapari";
  src: url("client/fonts/yapari/PTF-Yapari-Trial Fonts/YapariTrial-Variable/Yapari-Variable-Trial-VF.ttf")
}

// Montserrat - Body
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$display-font: 'Gogh', sans-serif;
$body-font: 'Montserrat', sans-serif;