


// Colour Variables
$black: #030303;
// $white: #F6F2EA;
$white: #fffce1;
$red: #FF7272;
$orange: #FFC672;
$blue: #72CCFF;
$purple: #9672FF;

body{
  background: $white;
}

// Font Variables

// Gogh - Display
@font-face {
  font-family: "Gogh";
  src: url("client/fonts/gogh/Gogh-ExtraBold.otf"),
  url("client/fonts/gogh/Gogh-ExtraBoldItalic.otf");
}

// Gogh - Display
@font-face {
  font-family: "Yapari";
  src: url("client/fonts/yapari/PTF-Yapari-Trial Fonts/YapariTrial-Variable/Yapari-Variable-Trial-VF.ttf")
}

@font-face {
  font-family: "Overused-Grotesk";
  src: url("/client/fonts/overusedGrotesk/OverusedGrotesk-VF.woff2");
}

@font-face {
  font-family: "Bricolage-Grotesque";
  src: url("/client/fonts/bricolageGrotesque/BricolageGrotesque[opsz\,wdth\,wght].ttf");
}


$display-font: 'Gogh', sans-serif;
$body-font: 'Bricolage-Grotesque', sans-serif;